body {
 font-family: Arial, sans-serif;
 background: linear-gradient(to bottm, #f0f8ff, #d08ff);
 text-align: center;
 margin: 0;
 padding: 0;
}

h1 {
 color: #2c3e50;
 margin-top: 50px;
 font-size: 2.5rem;
}

nav {
 margin-top: 20px;
}

nav a {
 margin: 0 15px;
 text-decoration: none;
 color: #3498db;
 font-weight: bold;
 transition: color 0.3s;
}

nav a:hover {
 color: #1d6fa5;
}

p {
 font-size: 1.2rem;
 color: #34495e;
 margin-top: 20px;
}
